<div id="div-img-banner">
    <div id="div-translucido" style="padding:20px;">
        <div id="div-contenedor"class="container">
            <h1>Página de Inicio</h1>
            <h3>¡Bienvenido a [Nombre del Sitio Web]!</h3>
            <p>Estamos encantados de que hayas llegado a nuestra plataforma, diseñada especialmente para mejorar tu experiencia en Albion Online. En este sitio, encontrarás una amplia variedad de herramientas y recursos que te serán de gran utilidad para gestionar y optimizar tu economía en el juego.</p>

            <p><strong id="big">¿Qué Puedes Encontrar Aquí?</strong></p>
            <ul>
                <li><strong>Calculadoras de Economía:</strong> Herramientas para calcular ganancias, costos y beneficios en tus actividades comerciales dentro de Albion Online.</li>
                <li><strong>Guías y Tutoriales:</strong> Información detallada sobre estrategias de comercio, inversión y administración de recursos.</li>
                <li><strong>Análisis de Mercado:</strong> Datos y tendencias actualizadas para ayudarte a tomar decisiones informadas sobre tus transacciones y operaciones.</li>
                <li><strong>Calculadoras de Crafting:</strong> Herramientas para calcular los materiales necesarios y los costos asociados a la creación de objetos y equipos.</li>
                <li><strong>Noticias y Actualizaciones:</strong> Mantente al tanto de las últimas noticias y cambios en el juego que puedan afectar tu economía.</li>
            </ul>

            <p>Explora nuestras herramientas y aprovecha al máximo tu experiencia en Albion Online. Estamos aquí para ayudarte a alcanzar tus objetivos y hacer que tu camino en el juego sea aún más emocionante y exitoso.</p>

            <p>¡Gracias por visitarnos y esperamos que encuentres todo lo que necesitas!</p>
        </div>
    </div>
</div>
